# 1. Ignore everything by default
*

# 2. Allow only specific folders/files required by Dockerfile
!api/
!models/
!src/
!requirements.txt

# 3. Aggressively prune inside allowed folders
# We only want main.py and the pipeline. No notebooks or training data.
api/*
!api/main.py
!api/__init__.py

src/*
!src/__init__.py
src/prep/*
!src/prep/__init__.py
!src/prep/pipeline.py

models/*
!models/model_prod_01.joblib
!models/shap_values_01.joblib
!models/thresholds_01.json
!models/taxonomy_01.json

# 4. Prune Python junk even if folders are allowed
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.venv
env
venv
.env
.git
.dockerignore
Dockerfile
