# Ignore Python junk
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.venv
env
venv
.env
.git

# Ignore notebooks and research data (Keep the image light)
notebooks/
data/
docs/
*.tmp
*.xlsm
*.txt
!requirements.txt
!menu_indications_refined.txt

# Keep the production folders
!api/
!frontend/
!models/
!src/
