# virtual envs
.venv/
env/
venv/
# python version
.python-version
# OS
.DS_Store
# jupyter
.ipynb_checkpoints/
# model artifacts
model_artifacts/
*.pkl
# data
data/
data/raw/
data/processed/
data/interim/
data_project/
notebooks/julius/
# Allow frontend search registry
!frontend/data/
!frontend/data/*.csv
# logs
logs/
# cache
__pycache__/
*.pyc
*.csv
